body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(white, grey);
    
}

.countries {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    background-color: lightgray;
    padding: 0.5em;
    max-width: 60em;
    border-radius: 30px;
    margin: auto;
  }
  .countries a {
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .country {
      background-color: #1A5F9B;
      padding: 10px 16px;
      font-size: 16px;
      border-radius: 12px;
      width: 40em;
  }
  
  a:hover {
    color: black;
  }

  
section{
    display: flex;
    flex-wrap: wrap;  
}

h1 {
  color: white;
  text-shadow: 3px 3px #1A5F9B;

}